// variables for function
@import "./variables";

// base and layouts
@import "./base";

// colors
@import "./colors";

// components
@import "./components/card";
@import "./components//buttons";

//  utilities
